@model UIA.ViewModels.ShowBookingViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Booking</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.HiddenFor(model => model.cust_id)
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.flight_id)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.flight_date, "flight_date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.flight_date, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.flight_time, "flight_time", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.flight_time, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.duration, "duration", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.duration, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.depart_place, "depart_place", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.depart_place, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.destination, "destination", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.destination, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.plane_company, "plane_company", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.plane_company, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.plane_name, "plane_name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.plane_name, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.duration, "duration", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.duration, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.price, "price", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.price, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Book" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
